:root {
  --primary-hue: 30deg;
  --primary-saturation: 100%;
}

.hx-gap-8 {
  gap: 2rem;
}

/* FAQ */
.faq-container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 1.5rem;
  margin-top: -2rem;
}

details {
  width: 100%;
  margin-bottom: 1.2rem;
  transition: all 0.3s ease;
}

details:hover {
  transform: translateY(-2px);  
}

details summary {
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  transition: all 0.3s ease;
  border-radius: 8px;
  /* Borda subtil com cor clara */
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* Sombra com cor clara */
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.03);
}

details summary:hover,
details[open] summary {
  background-color: #f08d1c;
  color: white;
  transform: scale(1.05);
}

details summary::after {
  content: '+';
  font-size: 1.8rem;
  transition: transform 0.3s ease;
  margin-left: 1rem;
}

details[open] summary::after {
  content: '−';
  transform: rotate(180deg);
}

details > *:not(summary) {
  animation: slide-down 0.3s ease-out;
  padding: 2rem;
}

details[open] > *:not(summary) {
  animation: slide-down 0.3s ease-out;
}

details:not([open]) > *:not(summary) {
  animation: slide-up 0.3s ease-out;
}

@keyframes slide-down {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
      opacity: 1;
      transform: translateY(0);
  }
  to {
      opacity: 0;
      transform: translateY(-10px);
  }
}

/* Responsividade */
@media (max-width: 768px) {
  .faq-container {
      padding: 1rem;
  }
  
  details summary {
      padding: 1.2rem 1.5rem;
      font-size: 1.1rem;
  }
  
  details > *:not(summary) {
      padding: 1.5rem;
  }
}


@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/BebasNeue-Regular.woff2') format('woff2'),
       url('/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Questrial';
  src: url('https://fonts.gstatic.com/s/questrial/v12/QdVUSTchPBm7nuUeVf7EuStkm20oJA.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geo';
  src: url('/fonts/Geo-Regular.woff2') format('woff2'),
       url('/fonts/Geo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: 'Questrial', sans-serif;
  font-size: 2.5rem;
  color: var(--primary-hue);
  margin-bottom: 1.5rem;
}


h1 {
  font-family: 'Questrial', sans-serif;
}
